/* start modal window */
#openPopUp{
    text-align:center;
    background-color: #1abc9c;
    padding: 15px 15px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 5px;
    font-weight: 100;
    transition:background-color 0.15s linear;
    -webkit-transition:background-color 0.15s linear;
    -moz-transition:background-color 0.25s linear;
    -o-transition:background-color 0.25s linear;
  }
  a#openPopUp:hover{
    cursor: pointer;
    background-color: #1abc9e;
  }
  .popup{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0, 0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
  }
  .popup .popUpContainer{
    width:100%;
    max-width: 600px;
    position: fixed; 
    left: 50%;
    top: -100vh;
      -webkit-transition: top  0.35s ease;
      -moz-transition: top 0.35s ease;
      -o-transition: top 0.35s ease;
      transition: top 0.35s ease;
    margin-left: -250px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 10; 
  }
  .popup h2{
    padding: 0.5em;
    text-align: center;
    color: #3aaa69;
    margin: 0;
  }
  .popup section{
    height: 400px;
    background-color: #146647;
  }
  /* close button*/
  .popup a.closePopUp{
    font-family: verdana;
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  }

  .popup a:hover{
    color: #c0392b;
  }
  .popup:target{
    opacity: 1;
    top: 0;
  }
  .popup .closePopUpOutSide{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    z-index:100; 
  }
  .popup:target .popUpContainer{
    top: 50px;
      -webkit-transition: top  0.35s ease;
      -moz-transition: top 0.35s ease;
      -o-transition: top 0.35s ease;
      transition: top 0.35s ease;
  }
  /* end modal window*/

  /* start form */
  form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:40px;
  }
  .input p{
    font-weight:bold;
    text-align:left;
    padding:10px 0;
  }
  .input input, .input textarea{
    width:320px;
    background:transparent;
    border:none;
    border-bottom:5px solid #A99265;
    outline:none;
    color:white;
  }
  input .textarea{
    border-top: 5px solid #A99265;
    resize:none;
  }
  button{
   padding: 6px 15px;
   margin-top:30px;
   background-color:#A99265;
   color:white;
   border-radius:1.3em;
  }
  /* end form */
  /*end modal window */