

h1{

    text-align: center;
}
.center-div
{
    background-color:#187B85;
    padding-bottom:30px ;
    border-radius: 8px;
  
}


body{

    background-color: gray;
  


}

#chercherUtilisateur{
    width: 65%;
    border-radius: 5px;
    margin-left:10%;
    height:40px;
    text-align: center;
}
.valider{
    height:42px;
    margin-left:10px;
    border-radius:10px;
}


#informations{
    background-color: #C3CA8C;
    width: 60%;
    min-height: 150px;
    border-radius: 8px;
    margin-left:15% ;
   /* margin-top: 50px;
    padding-top:30px ;*/
    margin-top: 90px;
    padding-top:20px;
    display: none;

    z-index:1;
}

#div-glob{
       
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top: 10% ;
        height: 70%;


     

}
hr {
	height: none;
	border: none;
	border-top: 1px dashed grey;
}

#glob{
    justify-content:center;
    align-items : center ;
    width: 70%;
    height: 450px;
    background-color:#AECBD9;
    margin: 0 auto;
    padding:30px ;
    border-radius: 6px
}


.photo{
    width: 120px;
    border-radius: 50%;
   /* clip-path: ellipse(50% 50%);*/
}

/*
#photo-profil{
 min-width: 120px;
 min-height: 120px;

 background-color: black;
 


}
*/

.fig{
    margin-bottom:-165px;
    margin-left:35%;
    z-index:2;
}
.figcaption{
    text-align:left;
    padding-left:30px;
}
.follow{
    margin-top:20px;
    margin-left:30% ;
    padding:30px 0 20px 30px;
}
